* {
    box-sizing: border-box;
}

body {
    font-family: $arial;
    overflow: hidden;
    background: $bodyBg;
}

.hidden,
.list-wrap,
.filtered,
.loading,
.font-info {
    display: none;
}

.visible {
    display: block;

    &.modal {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}

strong {
    font-weight: bold;
}

button {
    background: $btnBg;
    width: 200px;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    border: 1px solid #af84d7;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.font-info {
    background: $fontInfo;
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 1rem;
    position: absolute;
    bottom: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: $white;

    p {
        line-height: 2;
    }

    .close-font-info {
        background: $white;
        border-radius: 30px;
        position: fixed !important;
        left: 0;
        right: -350px !important;
        margin: 0 auto;
        width: 50px;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    visibility: hidden;
    transform: scale(0.7);
    opacity: 0;
    // -webkit-transition: all 0.3s;
    transition: all 0.3s;

    .modal-wrapper {
        position: relative;
        z-index: 2;
        background: $modalBg;
        width: 90%;
        max-width: 560px;
        margin: 2rem auto 0;
        height: 80%;
        max-height: 630px;
        overflow: hidden;
        padding: 1rem;
    }

    .curtain {
        position: absolute;
        z-index: 1;
        background: $curtain;
        width: 100%;
        height: 100%;
    }

    .search {
        position: fixed;
        padding: 1rem 0;
        width: 84%;
        max-width: 510px;
        margin: 0 auto;
        top: 90px;
        left: -10px;
        right: 0;
        background: $searchBg;

        input {
            padding: 1rem;
            width: 100%;
            background: $inputBg;
            border: 0;
        }
    }

    .list-wrap,
    .filtered {
        margin: 7.7rem 0 0;
        overflow-y: scroll;
        max-height: 420px;
    }

    .loading {
        position: absolute;
        z-index: 10;
        right: 50px;
        top: 95px;
    }

    .title {
        position: fixed;
        padding: 1.3rem;
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        top: 32px;
        left: -40px;
        background: $white;
        right: -40px;
    }



    .list,
    .filtered.visible {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .preview {
        margin: .3rem;
        width: 240px;
        height: 110px;
        padding: 20px;
        border: 1px solid lightGray;
        border-radius: 3px;
        background: $white;
        box-shadow: 0px 10px 40px -34px $curtain;
        position: relative;

        &:nth-child(even) {
            margin: .3rem 0 .3rem 1.4rem;
        }

        span {
            color: $spanBg;
            font-size: .8rem;

            &.select-font {
                color: blue;
                cursor: pointer;
                font-size: 18px;
                border: 2px solid;
                border-radius: 30px;
                width: 23px;
                height: 23px;
                display: block;
                line-height: 20px;
                text-align: center;
                position: absolute;
                right: 20px;
                top: 20px;
            }
        }

        p {
            font-size: 1.5rem;
            margin: 30px 0;
        }
    }

    .close {
        position: absolute;
        right: 40px;
        font-size: 22px;
        color: $closeColor;
        cursor: pointer;
    }
}