// colors
$white: #fff !default;
$btnBg: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(116, 116, 191), rgb(52, 138, 199)) repeat scroll 0% 0% !default;
$btnBorder: #af84d7 !default;
$bodyBg: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(192, 72, 72), rgb(72, 0, 72)) repeat scroll 0% 0% !default;
$lightGray: #f1f1f1 !default;
$curtain: rgba(0, 0, 0, .8) !default;
$modalBg: #f8f8f8 !default;
$searchBg: #f8f8f8 !default;
$inputBg: #e6e6e6 !default;
$spanBg: #c3c3c3 !default;
$closeColor: #9d9d9d !default;
$fontInfo: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157)) repeat scroll 0% 0% !default;
$white: #fff !default;

// fonts
$arial: "Arial", sans-serif !default;